<%- include('../partials/head') %>

<div class="divCertificate">
    <div class="header">
        <div class="divHeaderLogo"><img src="/images/certificateImages/<%= certificateTemplate.logo1 %>" alt="Logo1" class="headerLogo1"></div>
        <div class="divHeaderLogo"><img src="/images/certificateImages/<%= certificateTemplate.logo2 %>" alt="Logo1" class="headerLogo2"></div>
        <div class="headerData">
            <div>Certificado de aprobación curso teórico-práctico</div>
            <div>ARGENTINA, Neuquén <%= issueDateString %></div>
            <div>Código: <%= certificateCode %></div>
        </div>
    </div>
</div>

