<%- include('../partials/head') %>

<div class="divStudentPhoto">
    <img src="/images/studentsPhotos/<%= studentImage %>" class="studentPhoto">
</div>

<div class="divCertificate">
    <div class="header">
        <div class="divHeaderLogo"><img src="/images/certificateImages/<%= certificateTemplate.logo1 %>" alt="Logo1" class="headerLogo1"></div>
        <div class="divHeaderLogo"><img src="/images/certificateImages/<%= certificateTemplate.logo2 %>" alt="Logo2" class="headerLogo2"></div>
        <div class="headerData">
            <div class="headerDataLine"><%= headerLine1 %></div>
            <div class="headerDataLine">ARGENTINA, Neuquén <%= issueDateString %></div>
            <div class="headerDataLine">Código: <%= certificateCode %></div>
        </div>
    </div>

    <div class="certificateText">
        <div class="studentName"><%= certificateData.last_name.toUpperCase() + ' ' + certificateData.first_name.toUpperCase() %></div>
        <div class="studentDni">DNI: <%= certificateData.dni %></div>
        <div class="text1"><%= certificateLine1 %> <b><%= certificateTemplate.course_name %></b></div>
        <div class="validity">Vigente hasta el <%= expirationDateString %></div>
        <div class="text2"><%= certificateTemplate.text1 %></div>
        <div class="text3">El día <%= certificateData.date.getDate() + ' de ' + issueMonth + ', ' + certificateTemplate.text2 %></div>
    </div>

    <div class="signatures">
        <div class="signature">
            <img src="/images/certificateImages/<%= certificateTemplate.signature1_image %>" alt="Firma1" class="imgSignature">
            <div class="signatureAclaration1"><%= certificateTemplate.signature1_line1 %></div>
            <div class="signatureAclaration2"><%= certificateTemplate.signature1_line2 %></div>
        </div>
        <div class="signature">
            <img src="/images/certificateImages/<%= certificateTemplate.signature2_image %>" alt="Firma2" class="imgSignature">
            <div class="signatureAclaration1"><%= certificateTemplate.signature2_line1 %></div>
            <div class="signatureAclaration2"><%= certificateTemplate.signature2_line2 %></div>
        </div>
        <div class="divLogo3"><img src="/images/certificateImages/<%= certificateTemplate.logo3 %>" alt="Logo3" class="logo3"></div>
    </div>
</div>



