<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/userLogged') %>

<div class="divRelative">

    <h3 class="certTempTitle">Diseño de certificado</h3>

    <form action="/courses/create-certificate" enctype="multipart/form-data" method="POST" class="certTempForm">
        <div class="certTempDivSelectCourse">
            <select name="selectCourse" id ="selectCourse" class="certTemSelectCourse <%= locals.errors && errors.selectCourse ? 'isInvalid' : null %>">
                <option value="default" selected>--Seleccione un curso--</option>
                <% courses.forEach(course => { %>
                    <option value="<%= course.id %>"><%= course.course_name %></option>
                <% }) %>
            </select>
            <div class="certTemDivError1">
                <% if (locals.errors && errors.selectCourse) { %>
                    <%= errors.selectCourse.msg %>
                <% } %>
            </div>
        </div>
        
        <div class="certTemDivError2">
            <div>
                <% if (locals.errors && errors.courseName) { %>
                    <%= '- ' + errors.courseName.msg %>
                <% } %>
            </div>
            <div>
                <% if (locals.errors && errors.text1) { %>
                    <%= '- ' + errors.text1.msg %>
                <% } %>
            </div>
            <div>
                <% if (locals.errors && errors.signature1) { %>
                    <%= '- ' + errors.signature1.msg %>
                <% } %>
            </div>
            <div>
                <% if (locals.errors && errors.signature1Line1) { %>
                    <%= '- ' + errors.signature1Line1.msg %>
                <% } %>
            </div>
            <div>
                <% if (locals.errors && errors.signature1Line2) { %>
                    <%= '- ' + errors.signature1Line2.msg %>
                <% } %>
            </div>
        </div>
        <div class="certTempDiv">
            <div class="certTempDivStudentPhoto">
                <img src="/images/studentsPhotos/templateUserPicture.jpg" class="certTempStudentPhoto">
            </div>
            <div class="certTempHeader">
                <div class="certTempHeaderLogo">
                    <img src="/images/certificateImages/psiLogo.jpg" class="certTempLogoPsi" alt="Logo PSI">
                </div>                
                <div class="certTempHeaderData">
                    <div class="certTempHeaderDataLine">Certificado de aprobación curso teórico-práctico</div>
                    <div class="certTempHeaderDataLine">ARGENTINA, Neuquén XX/XX/XXXX</div>
                    <div class="certTempHeaderDataLine">Código: XXX-XXXXXXXX-XX</div>
                </div>
            </div>
        
            <div class="certTextTemplate">
                <div class="certTempStudentName">APELLIDO NOMBRE</div>
                <div class="certTempStudentDni">DNI: XXXXXXXX</div>
                <div class="certTempDivCourseName">
                    <input type="text" name="courseName" placeholder="Nombre del curso" class="certTempCourseName <%= locals.errors && errors.courseName ? 'isInvalid' : null %>" value="<%= locals.oldData ? oldData.courseName : null %>"></b>
                </div>
                
                <div class="certTempValidity">Vigente hasta el XX/XX/XXXX</div>
                
                <div>
                    <% if (locals.oldData) { %>
                        <textarea class="certTempNormatives <%= locals.errors && errors.text1 ? 'isInvalid' : null %>" name="normtive">
                            <%= locals.oldData.normtive %>
                        </textarea>
                    <% } else { %>
                        <textarea class="textarea1 <%= locals.errors && errors.text1 ? 'isInvalid' : null %>" name="text1" placeholder="Texto 1"></textarea>
                    <% } %>
                </div>

                
            </div>
        
            <div class="certificateTemplateFooter">
                <div class="divCertTemplateSignature <%= locals.errors && errors.signature1 ? 'redBorders' : null %>">
                    <div class="titleLogoHeader">Firma 1</div>
                    <div><input type="file" class="fileHeader" name="signature1"></div>
                    <div class="divCertTemplateTextSignature"><input type="text" placeholder="Aclaración firma 1" class="signatureLine1 <%= locals.errors && errors.signature1Line1 ? 'isInvalid' : null %>" name="signature1Line1"></div>
                    <div class="divCertTemplateTextSignature"><input type="text" placeholder="Texto firma 1" class="signatureLine2 <%= locals.errors && errors.signature1Line2 ? 'isInvalid' : null %>" name="signature1Line2"></div>
                </div>
                <div class="divCertTemplateSignature <%= locals.errors && errors.signature1 ? 'redBorders' : null %>">
                    <div class="titleLogoHeader">Firma 2</div>
                    <div><input type="file" class="fileHeader" name="signature2"></div>
                    <div class="divCertTemplateTextSignature"><input type="text" placeholder="Aclaración firma 2" class="signatureLine1 <%= locals.errors && errors.signature2Line1 ? 'isInvalid' : null %>" name="signature2Line1"></div>
                    <div class="divCertTemplateTextSignature"><input type="text" placeholder="Texto firma 1" class="signatureLine2 <%= locals.errors && errors.signature2Line2 ? 'isInvalid' : null %>" name="signature2Line2"></div>
                </div>
                <div class="divCertTemplateLogo <%= locals.errors && errors.certLogo3 ? 'redBorders' : null %>">
                    <div class="titleLogoHeader">Logo pie de página</div>
                    <input type="file" class="fileHeader" name="certLogo3">
                </div>
            </div>
        </div>

        <div class="divSubmit"><button type="submit" class="btnSubmit">Aceptar</button></div>  
    </form>
</div>







