<%- include('../partials/head') %>

<div class="divStudentImage">
    <div><img src="<%= '/images/studentsPhotos/' + studentImage  %>" alt="<%= credentialData.last_name + ', ' + credentialData.first_name %>" class="studentImageCredential"></div>
    <div><%= credentialCode %></div>
</div>

<div class="divFlex13">
    <div class="div32"><%= credentialTemplate.title1 %></div>
    <div class="div32"><%= credentialTemplate.title2 %></div>
</div>

<div class="divFlex9">
    <div class="div27">
        <div class="div28">
            <div class="div34"><b><%= credentialData.last_name.toUpperCase() + ' ' + credentialData.first_name.toUpperCase()  %></b></div>
            <div class="div34"><b>DNI: <%= credentialData.dni  %></b></div>
            <div class="div34"><b>VIGENCIA: <%= expirationDateString  %></b></div>
        </div>
        <div class="divFlex15">
            <div >
                <div class="div35">
                    <img src="/images/credentialsImages/<%= credentialTemplate.signature1_image %>" alt="Firma1" class="img4">
                </div>
                <div class="div36"><%= credentialTemplate.signature1_line1 %><br><%= credentialTemplate.signature1_line2 %></div>
            </div>

            <div>
                <div class="div35">
                    <img src="/images/credentialsImages/<%= credentialTemplate.signature2_image %>" alt="Firma2" class="img4">
                </div>
                <div class="div36"><%= credentialTemplate.signature2_line1 %><br><%= credentialTemplate.signature2_line2 %></div>
            </div>
        </div>
        <div class="div37">
            <%= 'Vigencia desde: ' + issueDateString + ' -Ley Nacional Nº24.449 Dto Nº 779/95'  %>
            <br>
            <%= 'Vencimiento: ' + expirationDateString + ' -Ley Nacional Nº26.365 Dto Nº 32/18'  %>
        </div>
    </div>

    <div class="div27">
        <div class="divFlex12 div33">
            <img src="/images/credentialsImages/<%= credentialTemplate.logo1 %>" alt="Logo1" class="img2">
            <img src="/images/credentialsImages/<%= credentialTemplate.logo2 %>" alt="Logo2" class="img3">
        </div>
        <div class="divFlex12">
            <img src="/images/credentialsImages/<%= credentialTemplate.logo3 %>" alt="Logo3" class="img1">
        </div>
    </div>
</div>

<div>