<%- include('../partials/head') %>

<div class="divStudentImage">
    <div><img src="<%= '/images/studentsPhotos/' + allCredentialData.studentImage  %>" alt="<%= allCredentialData.credentialData.last_name + ', ' + allCredentialData.credentialData.first_name %>" class="studentImageCredential"></div>
    <div><%= allCredentialData.credentialCode %></div>
</div>

<div class="divFlex13">
    <div class="div32"><%= allCredentialData.credentialTemplate.title1 %></div>
    <div class="div32"><%= allCredentialData.credentialTemplate.title2 %></div>
</div>

<div class="divFlex9">
    <div class="div27">
        <div class="div28">
            <div class="div34"><b><%= allCredentialData.credentialData.last_name.toUpperCase() + ' ' + allCredentialData.credentialData.first_name.toUpperCase()  %></b></div>
            <div class="div34"><b>DNI: <%= allCredentialData.credentialData.dni  %></b></div>
            <div class="div34"><b>VIGENCIA: <%= allCredentialData.expirationDateString  %></b></div>
        </div>
        <div class="divFlex15">
            <div >
                <div class="div35">
                    <img src="/images/credentialsImages/<%= allCredentialData.credentialTemplate.signature1_image %>" alt="Firma1" class="img4">
                </div>
                <div class="div36"><%= allCredentialData.credentialTemplate.signature1_line1 %><br><%= allCredentialData.credentialTemplate.signature1_line2 %></div>
            </div>

            <div>
                <div class="div35">
                    <img src="/images/credentialsImages/<%= allCredentialData.credentialTemplate.signature2_image %>" alt="Firma2" class="img4">
                </div>
                <div class="div36"><%= allCredentialData.credentialTemplate.signature2_line1 %><br><%= allCredentialData.credentialTemplate.signature2_line2 %></div>
            </div>
        </div>
        <div class="div37">
            <%= 'Vigencia desde: ' + allCredentialData.issueDateString + ' -Ley Nacional Nº24.449 Dto Nº 779/95'  %>
            <br>
            <%= 'Vencimiento: ' + allCredentialData.expirationDateString + ' -Ley Nacional Nº26.365 Dto Nº 32/18'  %>
        </div>
    </div>

    <div class="div27">
        <div class="divFlex12 div33">
            <img src="/images/credentialsImages/<%= allCredentialData.credentialTemplate.logo1 %>" alt="Logo1" class="img2">
            <img src="/images/credentialsImages/<%= allCredentialData.credentialTemplate.logo2 %>" alt="Logo2" class="img3">
        </div>
        <div class="divFlex12">
            <img src="/images/credentialsImages/<%= allCredentialData.credentialTemplate.logo3 %>" alt="Logo3" class="img1">
        </div>
    </div>
</div>

<div>