<%- include('../partials/head') %>
<%- include('../partials/header') %>
<%- include('../partials/userLogged') %>

<div class="div1">

    <h3 class="title1 title3" id="course"><%= course %></h3>

    <div class="div45">
        <i class="fa-solid fa-triangle-exclamation"></i> Se muestran datos del último año. Si desea ver datos anteriores o períodos más acotados debe utilizar los <span class="span3" id="dateFilter">Filtros <i class="fa-solid fa-filter"></i></span>

        <div class="div46 notVisible" id="divDateFilter">
            <div class="div47"><b>Filtrar por fecha</b></div>
            <label for="dateFrom" class="label2">Desde</label>
            <input type="date" name="dateFrom" class="input8" id="dateFrom"><br>
            <label for="dateUntill" class="label2">Hasta</label>
            <input type="date" name="dateUntill" class="input8" id="dateUntil">
            <div class="div48" id="acceptBtn">Aceptar</div>
            <div class="divError1 divError3" id="divError"></div>
        </div>
    </div>

    <h3 class="title2 title3" id="formTitle">Resultados del formulario (Último año)</h3>    

    <form action="/courses/students-results/<%= userLogged.company %>/<%= idCourse %>" method="POST" class="form1">

        <div class="divFlex8">            

            <div class="divFlex10">
                <div class="div29 underlined" id="viewAllData">Ver todos</i></div>
                <div class="div29" id="viewPassed">Ver aprobados</i></div>
                <div class="div29 div30" id="viewNotPassed">Ver desaprobados</i></div>
            </div>
            
            <div class="div31" id="tableTitle">Todos los resultados</div>
            
            <div class="divFlex17">
                <div class="divFlex16 <%= locals.errors && errors.credentials ? 'isInvalid' : null %>" id="divCredentials">
                    <input type="checkbox" name="certificates" id="certificates" class="checkbox2" <%= locals.oldData && oldData.certificates ? 'checked' : null %>>
                    <label for="credentials" class="label3">Certificados</label>
                </div>
                <div class="divFlex16 <%= locals.errors && errors.credentials ? 'isInvalid' : null %>" id="divCertificates">
                    <input type="checkbox" name="credentials" id="credentials" class="checkbox2" <%= locals.oldData && oldData.credentials ? 'checked' : null %>>
                    <label for="credentials" class="label3">Credenciales</label>
                </div>
                <div class="divFlex11" id="downloadSelected">
                    <div class="div39"><i class="fa-solid fa-download"></i></div>
                    <button type="submit" class="div39 button3">Descargar</button>
                </div>
            </div>
            <div class="divError1 divError4 <%= locals.errors && errors.credentials ? 'visible' : 'notVisible' %>" id="error1">
                <% if (locals.errors && errors.credentials) { %>
                    <%= errors.credentials.msg %>
                <% } %>
            </div>
            <div class="divError1 divError4 <%= locals.errors && errors.selectAll ? 'visible' : 'notVisible' %>" id="error2">
                <% if (locals.errors && errors.selectAll) { %>
                    <%= errors.selectAll.msg %>
                <% } %>
            </div>
            <div class="divError1 divError4 <%= locals.errors && errors.certificateTemplate ? 'visible' : 'notVisible' %>" id="error2">
                <% if (locals.errors && errors.certificateTemplate) { %>
                    <%= errors.certificateTemplate.msg %>
                <% } %>
            </div>
            <div class="divError1 divError4 <%= locals.errors && errors.credentialTemplate ? 'visible' : 'notVisible' %>" id="error2">
                <% if (locals.errors && errors.credentialTemplate) { %>
                    <%= errors.credentialTemplate.msg %>
                <% } %>
            </div>
            
            <div id="tableStudentsResults">
                <table class="table1">
                    <thead>
                        <tr>
                            <th class="tableTitle1 tableTitle2 tableTitle4">Fecha<i class="fa-solid fa-arrow-down-long orderDate notVisible" id="orderDateAsc"></i><i class="fa-solid fa-arrow-up orderDate"  id="orderDateDesc"></i></th>
                            <th class="tableTitle1">DNI</th>
                            <th class="tableTitle1 tableTitle2 tableTitle3">Apellido y nombre<i class="fa-solid fa-arrow-down-long orderName notVisible" id="orderNameAsc"></i><i class="fa-solid fa-arrow-up orderName"  id="orderNameDesc"></i></th>
                            <th class="tableTitle1 tableTitle5">Email</th>
                            <th class="tableTitle1">Nota</th>
                            <th class="tableTitle1 <%= locals.errors && errors.selectAll ? 'isInvalid' : null %>" id="thSelectAll"><input type="checkbox" name="selectAll" id="selectAll" class="checkbox2"></th>
                        </tr>
                    </thead>
                    <tbody id="tableRows"></tbody>
                </table>
            </div>
        </div>
    </form>

</div>

<script type="module" src="/js/studentsResults.js"></script>







